{
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.page.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
