<main class="wma-container">
  <div class="wma-heading-bar mb-8">
    <div>
      <h1 class="wma-title">{{ title() }}</h1>
      <p>{{ subtitle() }}</p>
    </div>
    <div class="flex items-center gap-2">
      <input
        [(ngModel)]="filter"
        class="wma-input grow md:min-w-96"
        type="search"
        placeholder="Rechercher un plat"
      />
    </div>
  </div>

  @if (dishes.error()) {
    <app-error />
  } @else if (dishes.isLoading()) {
    <div class="text-center">
      <app-spinner />
    </div>
  } @else if (dishes.hasValue()) {
    <div class="wma-grid">
      @for (dish of dishes.value(); track dish.id) {
        <app-dish-card
          (delete)="deleteDish($event)"
          (like)="likeDish(dish.id)"
          (unlike)="unlikeDish(dish.id)"
          [dish]="dish"
        />
      }
    </div>
  }
</main>
